body {
  margin: 0;
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 90%;
  justify-items: center;
  background-color: #fef9ef;
}
.signInInputsContainer{
width: 100%;
}
.signIn {
  display: grid;
  width: 50%;
  grid-template-rows: repeat(1fr, 4);
  justify-items: center;
  align-items: center;
}

.keepMeSignedInContainer {
  display: grid;
  grid-template-columns: 1fr 6fr;
  justify-items: center;
  align-items: center;
}

.signIn {
  box-shadow: 0 0 5px #929292;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 12.5%;
  height: 350px;
  
}

.signIn input {
  width: 90%;
    height: 5vh!important;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 2px solid #17c3b2;
    padding-left: 15px;
    font-weight: bold;
}

.signInHeaderContainer {
  color: #17c3b2;
}
#eyeIcon {
  background-color: #fff;
  border:#fff;
position:relative;
  font-size: large;
  color: #17c3b2;
  margin-left: -40px;
}
/*Ta3res*/
.icon {
  
  background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right;
  background-size: 20px;
  
}